* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: #b1fc03;
  --text-color: #1a1a1a;
  --text-green-color: #80c100;
  --hover-color: #a6eb05;
}

a {
  text-decoration: none;
}
